
.search {
    border-radius: 15px;
    background: #fffdfd;
    padding: 14px;
    width: 230px;
    height: 3px;
  }

  .searchbtn {
    border-radius: 15px;
    background: #212d67;
    padding: 2px;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #ffffff;

  }